.main {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width:100%;
  align-items: center;
  justify-content: center;

  &__list {
     width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: auto;
  

    li {
        max-height: 700px;
      overflow: hidden;
      position: relative;
    }
  }
}
@media (max-width: 768px) {
    
    .main__list{

        img{
            width: 100%;
        }
    }
}
