@import '../../assets/styles/colors.scss';

.main__more-btn {
  background: $second-clr200;
  width: 100%;
  min-height: 50px;
  text-align: center;
  color: $light-clr;
  cursor: pointer;
  transition: all 0.3s;
    & p {
  font-size:1.5em;
  padding: 20px;
}

&:hover {
  opacity: 0.8;
}
}